@use 'mixins';
/*Odin Resto CSS*/
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@400;700&display=swap");

//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";
$colortest:red;
$bright: #a9ff77;
$bright2: #e3871d;
$main: #227c9d;
$main2: #ff433f;
$light: #fef9ef;
$dark: #323031;
$greydark: #0c1e24;
$greylight: #e2e8f0;
$greylight2: #eff2f7;
$font-text: "Lato", sans-serif;
$font-logo: "Berkshire Swash", cursive;
$border-radius: 6px;
@debug $font-logo;
body {
    align-items: center;
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-family: $font-text;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}
h6 {
    font-size: 0.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-logo;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 740px;
}
//nav
header {
    background-color: $bright;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    .logo {
        background: url("#{$assetsPath}logo.svg") no-repeat center left;
        color: orange;
        font-family: $font-logo;
        font-size: 2em;
        padding-left: 50px;
    }
    .tabs {
        align-items: center;
        display: flex;
        gap: 10px;
        .tab {
            &:hover {
                color: $bright2;
                cursor: pointer;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}
@mixin test{
    color:$colortest;
}
#home {
    flex: 1;
    .hero {
        display: flex;
        font-size: 1.5em;
        gap: 20px;
        margin-bottom: 30px;
        // @include responsive(md){
        //     flex-direction: column;
        // }
        @include test;
        img {
            align-self: start;
            max-width: 100%;
            width: 300px;
        }
    }
}
.column-1-3 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
// menu
#menu {
    .articles {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        article {
            background-color: $greylight2;
            border-left: solid 5px $bright;
            border-radius: 6px;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
            color: $dark;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 1.25rem;
            position: relative;
            h3 {
                margin: 0;
            }
            .description p {
                margin-top: 0;
            }
            .price {
                background-color: $bright2;
                border-radius: 80px;
                font-size: 1.2em;
                font-weight: normal;
                margin: 0;
                padding: 12px 10px;
                position: absolute;
                right: 10px;
                top: 40px;
            }
            .media {
                img {
                }
                .info {
                }
            }
        }
    }
}

// contact
#contact{
    .socials-list{
        display: flex;
        gap:5px;
        
        li{
            a{
                img{
                    width: 30px;
                }
            }
        }
    }
}
footer {
    border-top: solid 2px $bright;
    padding-top: 20px;
    text-align: center;
}


.map-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
